.App {
  text-align: center;
}
body{
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.button{
  cursor: pointer;
  width:150px;
}
.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.top-menu-container{
  border:1px solid #ccc;
  position: relative;
}

.cart-total{
  width:auto;
  height:20px;
  background-color: #f9f9f9;
  position: absolute;
  z-index: 99;
  top:0px;
  right:0px;
  padding:5px;
  font-size: 11px;
  border-radius: 4px;
}

.menu-bar {
  background-image: none;
  background-color: #232f3e;
  padding-left: 11px;
  height: 40px;
  color: #fff;
  padding: 5px;
  border-bottom: #61dafb;
  margin-bottom: 1px;
  text-align: left;
}

.nav-global-location-popover-link {
  padding: 0 9px 0 9px;
  margin: 5px 2px 5px 0;
}

.nav-input {
 background: 0 0;
    color: #414141;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    text-indent: 8px;
    direction: ltr;
    z-index: 9;
    float: none;
    position: absolute;
    top: 9px;
    left: 24rem;
    height: 30px;
    background-color: #fff;
    width: 50%;
}

.nav-fill {
  height: 60px;
  display: flex;
  position: static;
  float: none;
  -webkit-box: 1;
  flex: 1 1 auto;
  overflow: visible;
}

.logo-right-location-box {
  width: 15.5rem;
  height: 2.6rem;
  display: inline-block;
  padding-left: 18px;
  padding-bottom: 5px;
  margin-top: 0px;
}

.top-menu {
  display:contents;
}

.top-menu li {
  margin: 7px;
  display: inline-block;
  margin-left: 22px;
}

.top-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.nav-left {
  margin-right: 0;
}

.nav-fill {
  max-height: 39px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: static;
  float: none;
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.Left-Side-menu-container{
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  width: 320px;
}
.nav-right {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: static;
  float: none;
  -webkit-box: 0;
  -moz-box: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.top-menu{
  position: fixed;
}
.body-container {
  display: flow-root;
  height: calc(100vh - 80px);
  overflow-y:hidden;
}
.body-container-right{
  width:80%;
  float: right;
  height: calc(100vh - 110px);
  overflow-y: scroll;
}

.body-container-left{
  float: left;
   max-height: calc(100vh - 80px);
}

.Left-Side-menu { 
  left: 0px;
  background-color: #f9f9f9;
  height: 100vh;
  float: left;
  text-align: left;
  height: 100%;
  width: 100%;
}

.Left-Side-menu a {
  background-color: #eee;
  color: black !important;
  display: block;
  padding: 11px 11px;
  text-decoration: none;
}

.Left-Side-menu a:hover {
  background-color: #ccc;
}

.Left-Side-menu a.active {
  background-color: #04AA6D;
  color: white;
}

.right-content-container {
  width: 80%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.product-iteam-container {
     display: flow-root;
    padding: 6px;
    text-align: center;
    float: left;
    width: 24%;
    position: relative;
    max-height: 346px;
    cursor: pointer;
}

.product-id {
  border: 1px solid #ccc;
  width: 45px;
  height: 38px;
  font-weight: 800;
  padding-top: 8px;
  border-radius: 50%;
  border-top-left-radius: 0px;
  position: absolute;
  top: -16px;
  left: 0px;
}

.product-iteam-container img {
  min-width: 20%;
  max-width: 50%;
  max-height: 100px;
}

.text-center {
  text-align: center;
}

.one-line-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-weight: bold;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
}

.logo {
  width: 115px;
  height: auto;
}

.two-line-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.Iteam-details-container{
  display: flex;
  padding-top: 30px;
}
.Iteam-image-container{
      width: 45%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 20px;
    padding-left: 20px;
    margin-left: 5px;
    list-style-type: none;
    position: relative;
        display: inline-grid
;
}

.Iteam-image{
width:45%;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
padding-left: 20px;
 padding-left: 20px;
 margin-left: 5px;
 position: absolute;
}

.Iteam-main-image{
    position: absolute;
    z-index: -1;
}
.cart-button, .buy-button{
  width: 100%;
  background-color: #ffed94;
  border-radius: 25px;
  padding: 10px;
  border: 0px;
  cursor: pointer;
  margin: 5px 0px 5px 0px;
}
.buy-button{
  background-color: #ffd894;
}
.selectbox{
      width: 100%;
    height: 33px;
    border-radius: 25px;
    padding: 0px 10px 0px 10px;
}
.Iteam-main-image img{
/* position: absolute; */
width: 100%;
/* height: auto; */
}
.Iteam-image img{
  width: 100%;
  position:absolute;
  top:0px;
  left: 0px;
  border-radius: 8px;
}
.Iteam-image-list{
      width: 40px;
      height: 60px;
    border: 1px solid #ccc;
    list-style-type: none;
    margin: 10px;
    border-radius: 8px;
    background-color: #fff;
        opacity: 0.9;
        cursor: pointer;
}
.Iteam-image-list:hover{
   border: 1px solid blue;
}
.Iteam-image li.Iteam-image-list{ 
  position: absolute;
  border:1px solid #ccc;
  list-style-type: none; 
  z-index: 99; 
}
.Iteam-image ol li.Iteam-image-list img{
  width: 100%;
  height:100%;
}
.Iteam-Store-details{
width:35%;
padding-left: 20px;
 padding-left: 20px;
}
.Iteam-delivery-details{
width:20%;
border: 1px solid #ccc;
 text-align: left;
 padding: 20px;
}
 .pera{
  font-size: 14px;
 }
 .link{
  color: #2162a1;
  text-decoration: none;
  font-weight:600;
 }

.a-offscreen, .aok-offscreen {
    left: 0 !important;
    bottom: -1px !important;
    z-index: -1 !important;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
}